In [1]:
import pandas as pd

In [2]:
# Lendo o arquivo:
df = pd.read_csv('desafio1.csv')

In [3]:
# Visualizando o dataframe:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
# Informações sobre o dataframe:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [5]:
# Estatística descritiva:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,7000.0,3500.500000,2020.870275,1.0,1750.75,3500.50,5250.250,7000.00
pontuacao_credito,7000.0,649.787000,97.046279,350.0,582.00,651.00,717.000,850.00
idade,7000.0,38.892714,10.465562,18.0,32.00,37.00,44.000,92.00
nivel_estabilidade,7000.0,5.010286,2.887500,0.0,3.00,5.00,7.250,10.00
saldo_conta,7000.0,76471.883751,62403.383911,0.0,0.00,97277.13,127537.155,250898.09
numero_produtos,7000.0,1.526000,0.583047,1.0,1.00,1.00,2.000,4.00
possui_cartao_de_credito,7000.0,0.703286,0.456842,0.0,0.00,1.00,1.000,1.00
membro_ativo,7000.0,0.512143,0.499888,0.0,0.00,1.00,1.000,1.00

# Objetivo do desafio

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

In [6]:
# Função para pegar os valores:
def get_stats(df):
    return {'moda': df.mode()[0], 'mediana': df.median(), 'media': df.mean(), 'desvio_padrao': df.std()}

In [7]:
# Agrupando a pontuação de cŕedito por Estado:
df_group = df['pontuacao_credito'].groupby(df['estado_residencia']).apply(get_stats).unstack()

In [8]:
df_group

                    moda  mediana       media  desvio_padrao
estado_residencia
PR                 850.0    650.0  648.961294      98.607186
RS                 850.0    650.0  651.105143      95.136598
SC                 850.0    653.0  649.537653      97.233493

In [9]:
# Criando o arquivo de resposta:
df_group.to_json('submission.json', orient='index')